{%extends 'base.html'%}
{%block title%} Blogly - {{user.first_name}} Details {%endblock%}


{%block content%}

<h2>{{user.first_name}} Details</h2>
<ul class="userInfo">
    <li><img src="{{user.img_url}}" height="300px" width="350px"></li>
    <li>First Name: {{user.first_name}}</li>
    <li>Last Name: {{user.last_name}}</li>
</ul>
<form method="POST">
    <button formaction="/user/{{user.id}}/edit" formmethod="get" >Edit</button>
    <button formaction="/user/{{user.id}}/delete" formmethod="get" >Delete</button>
    <button formaction="/" formmethod="get" >Return</button>
    
</form>

{%endblock%}